.bodyStyle{
    text-align: center;
    font-family: "Microsoft YaHei UI";
}
.historyMes{
    width:300px;
    height:300px;
    font-family: "Microsoft YaHei UI";
}
.info{
    width: 258px;
    font-family: "Microsoft YaHei UI";
}